Repository ROCm/rccl, pull requests merged in 2024-12, with the labels that each got.

#1445 Modify cmake instruction in build from source
  README.md
  docs/install/building-installing.rst
Labels: ci:docs-only

#1417 Add Topologies for 16-GPU gfx942 SuperNode
  src/graph/rome_models.cc
  src/graph/rome_models.h
  src/graph/search.cc
  tools/topo_expl/model.cpp
  tools/topo_expl/models/topo_16p_gio-1s-1rp-cascade.xml
  tools/topo_expl/models/topo_16p_gio-3s-1rp-split-flat.xml
  tools/topo_expl/topo_expl.cpp
  tools/topo_expl/utils.cpp
Labels: ci:extended, gfx942, gfx942-multinode

#1420 Add RCCL debugging guide
  docs/how-to/troubleshooting-rccl.rst
  docs/index.rst
  docs/sphinx/_toc.yml.in
Labels: ci:docs-only

#1444 Refactor how to docs and formatting fixes
  LICENSE.txt
  docs/attributions.rst
  docs/how-to/using-nccl.rst
  docs/how-to/using-rccl-tuner-plugin-api.rst
  docs/index.rst
  docs/sphinx/_toc.yml.in
Labels: ci:docs-only

#1448 increase p2p channels for Intel platform
  src/graph/paths.cc
Labels: ci:extended

#1452 Cherry-pick recent docs fixes to release-staging/rocm-rel-6.4
  CHANGELOG.md
  README.md
  docs/how-to/rccl-usage-tips.rst
  docs/how-to/troubleshooting-rccl.rst
  docs/index.rst
  docs/install/building-installing.rst
  docs/install/docker-install.rst
  docs/install/installation.rst
  docs/sphinx/_toc.yml.in
  install.sh
Labels: ci:docs-only

#1453 Cherry-pick recent docs fixes to release/rocm-rel-6.3
  CHANGELOG.md
  README.md
  docs/how-to/rccl-usage-tips.rst
  docs/how-to/troubleshooting-rccl.rst
  docs/index.rst
  docs/install/building-installing.rst
  docs/install/docker-install.rst
  docs/install/installation.rst
  docs/sphinx/_toc.yml.in
  docs/what-is-rccl.rst
  install.sh
Labels: ci:docs-only

#1450 Improve the handling of CMake deduplication
  CMakeLists.txt
Labels: gfx942

#1460 Fix MSCCL algorithm loading order
  src/misc/msccl/msccl_lifecycle.cc
Labels: ci:extended, gfx942

#1462 Change kernel reference to use new terminology
  docs/how-to/troubleshooting-rccl.rst
Labels: ci:docs-only

#1464 Cherry-pick to release/rocm-rel-6.3: Change kernel reference to use new terminology (#1462)
  docs/how-to/troubleshooting-rccl.rst
Labels: ci:docs-only

#1471 Cherry-pick RCCL troubleshooting guide to docs/6.3.0
  docs/how-to/troubleshooting-rccl.rst
  docs/index.rst
  docs/sphinx/_toc.yml.in
Labels: ci:docs-only
